* {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

nav {
	padding-top: 150px;
	text-align: center;
}

nav li {
	list-style: none;
	display: inline-block;
}

nav li a {
	text-decoration: none;
	padding-left:40px;
	color: white;

}

#images {
	width: 100%;
	position: absolute;
}

hr {
	color: #054865;

	}

body {
	background-color: #454545;
	/*background-image: url('../img/commingsoon.jpg');*/
}

table {
	margin-left: 15px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
}



table tr {
	width: 100%;
}

.pasphoto {
		border-radius: 100em;
}

table tr td {
	text-align: center;
}

table h3, p {
	text-align: center;
	width: 97%;
	margin: 20px 10px 10px 10px;
	color: white;
}
h4 {
	color: white;
}



footer {
	height:30px;
    background: #054865;
 	width: 100%;
    position:fixed;
    padding-top: 10px;
    bottom:0px;
	padding-left: 0px;
}

footer h5 {
	text-align: center;
	color: white;
	font-size: 14px;

}